.chinese{
    font-family: 'Noto Serif TC', serif;
    top:20%;
    width: 100%;
    text-align: center;
    font-size: 500%;
    color : blue;
    margin: auto;
    transition: color 0.3s ease-out;
}


.chinese_mobile{
    font-family: 'Noto Serif TC', serif;
    width: 100%;
    text-align: center;
    font-size: 600%;
    color : rgb(87, 87, 175);
    transition: color 0.3s ease-out;
}
.container{
    border: 0;
    margin: 0;
    position: absolute;
    background-color: RGB(240, 240, 240);
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
    padding: 0;
    margin: 0;
}

.correct{
    font-family: 'Noto Serif TC', serif;
    top:20%;
    width: 100%;
    text-align: center;
    font-size: 500%;
    color :green;
    margin: auto;
    transition: color 0.3s ease-out;
    
}

.correct_mobile{
    font-family: 'Noto Serif TC', serif;
    width: 100%;
    text-align: center;
    font-size: 500%;
    color :rgb(51, 139, 83);
    transition: color 0.3s ease-out;
    
}

.wrong_mobile{
    font-family: 'Noto Serif TC', serif;
    width: 100%;
    text-align: center;
    font-size: 500%;
    color :rgb(172, 33, 68);
    transition: color 0.3s ease-out;
    
}

.wrong{
    font-family: 'Noto Serif TC', serif;
    top:20%;
    width: 100%;
    text-align: center;
    font-size: 500%;
    color :red;
    margin: auto;
    transition: color 0.3s ease-out;
}

.ux{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: absolute;
    border-radius: 20px;
    top: 60%;
    height: 40%;
    width:100%;
}

.answer{
    padding: 1em;
    margin: 0.3em;
}

.inshadow{
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
    box-shadow: inset 2px 2px 10px rgba(0,0,0,.1),
                inset -2px -2px 10px rgb(255,255,255,1);
    border: none;
    transition: box-shadow 0.1s ease-out;
}

.inshadow:focus{
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
    box-shadow: inset 5px 5px 15px rgba(0,0,0,.1),
                inset -5px -5px 15px rgb(255,255,255,1);
    border: none;
}

button{
    padding: 1em;
    margin: 0.3em;
    transition: width 1s ease-out;
}
.outshadow{
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
    box-shadow: 2px 2px 10px rgba(0,0,0,.1),
                -2px -2px 10px rgb(255,255,255,1);
    border: none;
    transition: box-shadow 0.1s ease-out;
}

.outshadow_mobile{
    border-radius: 25px;
    background-color: rgb(20, 20, 20);
    box-shadow: 2px 2px 3px rgba(0,0,0, .1),
                -2px -2px 3px rgb(30, 30, 30,1);
    border: none;
    transition: box-shadow 0.1s ease-out;
}

.button_animation:active{
    -webkit-animation-name: en_large;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}



@-webkit-keyframes en_large {
    0% {
        box-shadow: 5px 5px 15px rgba(0,0,0,.1),
        -5px -5px 15px rgb(255,255,255,1);
    }
    50% {
      box-shadow: 2px 2px 10px rgba(0,0,0,.1),
                 -2px -2px 10px rgb(255,255,255,1);
    }
    100% {
        box-shadow: 5px 5px 15px rgba(0,0,0,.1),
                -5px -5px 15px rgb(255,255,255,1);
    }
}
.mobile_button{
    width: 50%;
}
.outshadow:hover{
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
    box-shadow: 5px 5px 15px rgba(0,0,0,.1),
                -5px -5px 15px rgb(255,255,255,1);
    border: none;
}
.table_mobile{
    position: absolute;
    top: 0%;
    left : 0%;
    width : 100%;
    height: 100%;
    color : rgb(150, 150, 150);
    background-color: rgb(20, 20, 20);
    font-family: 'Roboto', sans-serif;
    padding: 0.5em;
    vertical-align: top;
}

td{
    vertical-align: top;
}
.outshadow_mobile:hover{
    border-radius: 25px;
    background-color: rgb(20, 20, 20);
    box-shadow: 2px 2px 5px rgba(0,0,0, .1),
                -2px -2px 5px rgb(30, 30, 30,1);
    border: none;
}

.heading{
    color : black;
    font-family: 'Montserrat', sans-serif;
}

.heading_mobile{
    color : rgb(150, 150, 150);
    font-family: 'Montserrat', sans-serif;
}

.layover{
    position: absolute;
    z-index: 9;
    background-color:rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    /* opacity : 0.0; */
    /* transition: opacity 1s ease-out */
}

.layover_mobile{
    position: absolute;
    z-index: 9;
    background-color:rgba(20,20,20,1);
    width: 100%;
    height: 100%;
    /* opacity : 0.0; */
    /* transition: opacity 1s ease-out */
}
.header_mobile{
    /* Z-index : 10; */
    /* position: absolute; */
    background-color: rgba(20,20,20,1);
    top: 0%;
    width: 100%;
    left: 100%;
    height: 3em;
    margin: 1em;
    text-align : center;
}
.popup{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 10;
    background-color: rgb(240, 240, 240);
    width: 60%;
    /* height: 60%; */
    padding: 2em 0em;
    margin : auto;
    left: 20%;
    top: 30%;
    border-radius: 25px;
   
}

.popup_mobile{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 10;
    color : rgb(150, 150, 150);
    background-color: rgb(20, 20, 20);
    width: 100%;
    /* height: 60%; */
    padding: 2em 0em;
    margin : auto;
    left: 0%;
    top: 30%;
    border-radius: 25px;
   
}

button:disabled{
    width: 0;
    display: none;
}

a{
    text-decoration: none;
    padding: 1em;
}

.float_right{
    font-family: 'Roboto', sans-serif;
    position : absolute;
    right : 2em;
    width : 50px;
    height : 50px;
    margin: 2em 0;
    padding: 0.3em;
    opacity: 0.0;
    transition: opacity 1s ease-out;
}

.exp_inv{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align : center;
    opacity : 0.0;
    transition: opacity 0.3s ease-out;
}

.exp{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align : center;
    opacity : 1.0;
    transition: opacity 0.3s ease-out;
}


.float_right_come{
    font-family: 'Roboto', sans-serif;
    position : absolute;
    right : 2em;
    width : 50px;
    height : 50px;
    margin: 2em 0;
    padding: 0.3em;
    opacity: 1;
    transition: opacity 1s ease-out; 
}

.float_right div{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


.float_right_come div{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

@-webkit-keyframes jiggle {
    0% {
        box-shadow: 5px 5px 10px rgba(0,0,0,.1),
        -5px -5px 10px rgb(255,255,255,1);
    }
    50% {
      box-shadow: 2px 2px 15px rgba(0,0,0,.1),
                 -2px -2px 15px rgb(255,255,255,1);
    }
    100% {
        box-shadow: 5px 5px 10px rgba(0,0,0,.1),
                -5px -5px 10px rgb(255,255,255,1);
    }
}

.jiggle_help{
    -webkit-animation-name: jiggle;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}
